<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhirui.zblog.dao.LogVoMapper">
    <resultMap id="BaseResultMap" type="com.zhirui.zblog.model.Vo.LogVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="action" jdbcType="VARCHAR" property="action" />
        <result column="data" jdbcType="VARCHAR" property="data" />
        <result column="author_id" jdbcType="INTEGER" property="authorId" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="created" jdbcType="INTEGER" property="created" />
    </resultMap>
    <sql id="Base_Column_List">
      id, action, data, author_id, ip, created
    </sql>
    <insert id="insert" parameterType="com.zhirui.zblog.model.Vo.LogVo" useGeneratedKeys="true" keyProperty="id">
        insert into t_logs (id, action, data, author_id, ip, created)
        values (
          #{id,jdbcType=INTEGER}, #{action,jdbcType=VARCHAR}, #{data,jdbcType=VARCHAR},
          #{authorId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{created,jdbcType=INTEGER}
        )
    </insert>
    <select id="selectByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_logs
        limit #{arg0}, #{arg1}
    </select>
</mapper>